[Unit]
Description=Connect WiFi and run Python at boot
After=NetworkManager.service network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/rpi5
ExecStart=/bin/bash /home/rpi5/startup_wifi_and_run.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
## Reload and test
##Run:
#sudo systemctl daemon-reload
#sudo systemctl restart startup-wifi.service
#sudo systemctl status startup-wifi.service

#Use this command to see actual saved connection names:
#sudo nmcli -f NAME,UUID,TYPE,DEVICE connection show
